body {
  font-family: Arial, sans-serif;
  margin: 0;
  min-height: 100vh;

  background-image: url("img/e4286008-466e-4d16-b89c-7870260089c0.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#hasil {
  background: rgb(248, 248, 248);
  width: 300px;
  margin: 30px auto;
  padding: 20px;
  border-radius: 50px;
}

.juara {
  font-size: 18px;
  margin: 10px 0;
}
