body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-image: url("img/background.jpg.png");
  background-size: cover;
  background-position: center;
}

/* OVERLAY */
.overlay {
  background: rgba(0,0,0,0.6);
  min-height: 100vh;
  padding: 30px;
  color: white;
  text-align: center;
}

/* LOGO BOX (TABEL BACKGROUND) */
.logo-box {
  background: rgba(255,255,255,0.95);
  padding: 15px;
  border-radius: 12px;
  margin-bottom: 20px;
  display: inline-block;
}

.logo-row {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 5px 0;
  flex-wrap: wrap;
}

.logo-row img {
  height: 50px;
}

/* BUTTON */
.btn {
  background: gold;
  border: none;
  padding: 12px 20px;
  font-size: 18px;
  border-radius: 8px;
  cursor: pointer;
  margin: 20px 0;
  transition: 0.3s;
}

.btn:hover {
  background: orange;
  transform: scale(1.05);
}

/* HIDDEN */
.hidden {
  display: none;
}

/* POSTER */
.poster-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.poster {
  background: white;
  color: black;
  padding: 10px;
  border-radius: 10px;
  width: 220px;
}

.poster img {
  width: 100%;
  border-radius: 8px;
}

/* CARD */
.card {
  background: white;
  color: black;
  padding: 20px;
  margin: 20px auto;
  border-radius: 12px;
  width: 60%;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .poster {
    width: 90%;
  }

  .card {
    width: 90%;
  }
}

  .logo-row img {
    height: 45px;
  }
}
