body {
  font-family: Arial, sans-serif;
  background: #f2f2f2;
  text-align: center;
}

body {
  background-image: url("img/background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#hasil {
  background: rgb(248, 248, 248);
  width: 300px;
  margin: 30px auto;
  padding: 20px;
  border-radius: 50px;
}

.juara {
  font-size: 18px;
  margin: 10px 0;
}
